#desc {
  text-align: center;
  margin-top: -100px;
  font-weight: 300;
  margin-bottom: 40px;
}


#case-study {
  .break {
    width: 100px;
    height: 2px;
    background: lighten($text,50%);
    margin: 100px auto;
  }
  .wide-image {
    width: 120%;
    margin-left: -10%;
    img {
      margin-top: 20px;
    }
    .caption {
      margin-top: 0px;
      font-family: $sans;
      font-size: 14px;
    }


  }



  h2 {
    margin-top: 50px !important;
    font-size: 22px;
    font-family: $sans;
    margin-bottom: -40px;
    font-weight: 600;
  }
  p {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 30px !important; 
  }
  a {
    color: $me;
  }
  .back {
        display: block;
        text-indent: -9999px;
        width: 100px;
        height: 100px;
        background: url(../imgs/back.svg) no-repeat center center;
        background-size: 25px 11px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 80px;
        opacity: 0.8;

          &:hover {
            opacity: 1;
          }
  }



}




.back-project:before {
  width: 100px;
  margin-left: auto; margin-right: auto;
  border-top: 2px solid rgba(0,0,0,0.15);
  display: block;
  content: "";
  margin-bottom: 30px;
}
.back-project {
  text-align: center;
  margin-top: 100px !important;
  margin-bottom: 100px !important;

   &:hover {
    color: $me;
   }
}

@media screen and (max-width: $break) {
      
      .back-project {
        margin-bottom: 0 !important;
      }
      .wide-image {
        width: 100% !important;
        margin-left: 0 !important;
      }
      .break {
        margin: 60px auto !important;
      }

}





/*------------------------------------*\
    TreeTender Graph
\*------------------------------------*/
.graph__wrapper {
  width: 350px;
  height: 200px;
  margin: 0px auto;
  position: relative;
}
.graph__wrapper svg {
  position: absolute;
  margin: 36px 0px 0px 15px;
}
.coordinates {
  position: absolute;
  counter-reset: line 6;
}
.coordinates span {
  font-family: 'open sans', helvetica, sans-serif;
  display: inline-block;
  border-bottom: 1px solid #e0e0e0;
  height: 20px;
  width: 350px;
}
.coordinates span:before {
  counter-increment: line -1;
  content: counter(line);
  display: inline-block;
  color: #889199;
  font-size: 11px;
  margin: 10px 0px 0px -20px;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 3s ease-in forwards;
          animation: dash 3s ease-in forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}