.profile {



		.left {
			display: inline;
			float: left;
			width: 70%;
		}
		.copy {
			margin-top: 80px;
			padding-left: 30px;
			padding-right: 30px;
			max-width: 540px;
			margin: auto;
			margin-top: 80px;
			margin-bottom: 80px;

			
			
				p {
					font-family: $sans;
					font-size: 18px;
					line-height: 1.7;
					color: darken($text,20%);
					font-weight: normal;
				}
				strong {
					opacity: 0.6;
				}
				a {
					color: inherit;
					border-bottom: 1px solid lighten($me,30%);
					text-decoration: none;

						&:hover {
							border-bottom: 1px solid $me;
						}
				}
		}
		.right {
			position: fixed;
			right: 0;
			float: right;
			width: 30%;
			background:  url("/_core/imgs/me.png") no-repeat center center; 
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
		}


		@media screen and (max-width: 900px) {
			.left {
				.copy {
					padding-left: 40px;
					padding-right: 40px;
				}
			}
		}


		@media screen and (max-width: 760px) {

			.right {
				position: relative;
				background-position: bottom;
				display: block;
				width: 100% !important;
				padding: 0;
				height: 300px !important;
			}
			.left {
				width: 100%;

					p {
						padding-left: 0px;
						padding-right: 0px;
					}
			}
			.copy {
				margin-top: 20px;

					p {
						font-size: 18px;
						margin-bottom: 70px;
					}
			}

		}


		.social-icons {
			margin-top: 60px;

			a {
			text-decoration: none !important;
			border-bottom: none !important;
			}

				li {
					cursor: pointer;
					display: inline-block;
					margin-right: 20px;
					opacity: 0.7;

						&:hover {
							opacity: 1;
						}
				}

				.medium {
					  text-indent: -9999px;
					  width: 20px;
					  height: 16px;
					  background: url(/_core/imgs/m.svg);
					  background-size: 20px 16px;
				}
				.twitter {
					  text-indent: -9999px;
					  width: 19px;
					  height: 16px;
					  background: url(/_core/imgs/twitter.svg);
					  background-size: 19px 16px;
				}
				.fb {
					  text-indent: -9999px;
					  width: 8px;
					  height: 16px;
					  background: url(/_core/imgs/fb.svg);
					  background-size: 8px 16px;
				}
				.email {
					  text-indent: -9999px;
					  width: 16px;
					  height: 16px;
					  background: url(/_core/imgs/email.svg);
					  background-size: 16px 16px;
				}
				.ig {
					  text-indent: -9999px;
					  width: 16px;
					  height: 16px;
					  background: url(/_core/imgs/ig.svg);
					  background-size: 16px 16px;
				}
		}


}


