*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box
}


html {
    height: 100%;
    overflow: hidden;
}


body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

/*Helps With Images*/
img, video {
    width:100%;
    height:auto;
}
/*Container*/
.span {
    width:100%;
    min-width:260px;
    max-width: 1100px;
    margin: auto;
}

.right-span {
    width:60%;
    min-width:260px;
    max-width: 1500px;
    margin: auto;
}
/*Clears Childern Elements*/
.span:after {
  content: "";
  display: table;
  clear: both
}
.spancase:after {
  content: "";
  display: table;
  clear: both
}
/*Floats and Pads*/
[class*='loop'] {
  position: relative;
  float: left;
  padding: 20px;
}
/*The Grid*/
.loop-1 {width: 9.1%;}

.loop-2 {width: 20%;}

.loop-3 {width: 25%;}

.loop-4 {width: 33.3%;}

.loop-5 {width: 41.6%;}

.loop-6 {width: 50%;}

.loop-7 {width: 58.3%;}

.loop-8 {width: 66.6%;}

.loop-9 {width: 75%;}

.loop-10 {width: 83.3%;}

.loop-11 {width: 90.9%;}

.loop-12 {width: 100%;}

@media (max-width: 700px) {
    .loop-1,
    .loop-2,
    .loop-3,
    .loop-4,
    .loop-5,
    .loop-6,
    .loop-7,
    .loop-8,
    .loop-9,
    .loop-10,
    .loop-11,
    .loop-12 {
        width:100%;
    }
}
.controls .span {
    width:100%;
    min-width:80%;
    max-width: 0px;
    margin: 0 auto;
}



body {
  background: #E8E9E5;
  color: white;
  font-family: neue-haas-unica, sans-serif;
  line-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  word-wrap: break-word; 
  color: #1B1D1B;
}
@media screen and (max-width: 600px) {
  body{
      padding: 10px 0 0px 0;
    }
}
.homepage {
  padding: 100px;
  font-weight: 300;
}
p {
  max-width: 660px;
  font-size: 26px;
  line-height: 1.4;
}
h1 {
  max-width: 660px;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 30px;
}

  
a {
  color: inherit;
  text-decoration: underline;
}
strong {
  font-weight: inherit;
  color: #A0A0A0;
}





a img { 
  display:none;
}

a:hover .one { 
  position: fixed;
  width: 400px;
  display:block;
  right: 30%;
  top: 20%;
  z-index: -1;
}

a:hover .two { 
  position: fixed;
  width: 400px;
  display:block;
  right: 20%;
  top: 30%;
  z-index: -1;
  overflow: hidden;

}

a:hover .three { 
  position: fixed;
  width: 500px;
  display:block;
  right: 10%;
  top: 50%;
  z-index: -1;
}


a:hover .here { 
  position: fixed;
  width: 240px;
  display:block;
  right: 40%;
  top: 20%;
  z-index: -1;
}


a:hover .fb { 
  position: fixed;
  width: 600px;
  display:block;
  right: 20%;
  bottom: 5%;
  z-index: -1;
}


a:hover .linkedin { 
  position: fixed;
  width: 300px;
  display:block;
  right: 10%;
  bottom: 40%;
  z-index: -1;
}

a:hover .email { 
  position: fixed;
  width: 250px;
  display:block;
  right: 30%;
  bottom: 20%;
  z-index: -1;
}


@media screen and (max-width: 800px) {
  a:hover img{
              display: none !important;
            }
}



@media screen and (max-width: 800px) {
  .homepage{
              padding: 20px;
            }

  h1 {
    font-size: 34px;
  }
  p {
    font-size: 22px;
  }
}