$sans: "europa",sans-serif;
$serif: "leitura-news",serif;

$text: #32393B;
$light-text: #9399A6;

$brand: #DBBA88;

$select: #e4e5ec;

$font-size: 20px;
$line-height: 1.4;

$break: 600px;
$type-break: 500px;

$full-width: 900px;

$width: 90%;

$break-width: 648px;
