/* 


All things Layout 
	
	- Image Widths
	- Text Widths

-- */

img {
	margin-top: 20px;
	margin-bottom: 30px;
}

.wide-image {
	width: 120%;
	margin-left: -10%;

	img {
		width: 100%;
	}
	.caption {
		margin-top: -30px !important;
	}
}
@media (max-width: 750px) {
	.wide-image {
		width: 100%;
		margin-left: 0;
	}
}
@media (max-width: $type-break) {
	.caption {
		font-size: 12px !important;
	}
}


video {
  width: 100%  !important;
  height: auto  !important;
  margin-top: 20px;
  margin-bottom: 20px;
}


.break {
    width: 100px;
    height: 2px;
    background: rgba(0,0,0,0.2);
    margin: 80px auto 80px auto;
}
@media (max-width: $break) {
	.break{
        margin: 40px auto 40px auto !important;
      }
}