::selection {
	background: $select; /* Safari */
	}
::-moz-selection {
	background:$select; /* Firefox */
}
body {
	background-color: #F3F3F3;
}

.about-intro {

		h1 {
			margin-top: 220px;
			font-family: $sans;
			text-align: center;
			font-size: 60px;
			font-weight: 500;
			margin-bottom: 150px;
		}
}
