/* 


All things Typography 
	
	- Font-sizes and weights
	- Page Titles, body text, quotes



-- */


p {
	font-size: 20px;
	line-height: 1.5;
	font-family: $serif;
	padding-left: 20px;
	padding-right: 20px;
}
h1 {
	font-size: 30px;
	line-height: 1.5;
	font-family: $sans;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
}
h1 {
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 30px;
}
a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid #fff;
}
a:hover {
	color: #1be1ae;
}