$sans: "acumin-pro", "helvetica",sans-serif;
$serif: "leitura-news",serif;

$text: #32393B;
$light-text: #9399A6;

$brand: #DBBA88;

$select: #e4e5ec;

$font-size: 20px;
$line-height: 1.4;

$break: 800px;
$type-break: 500px;

$width: 760px;

$break-width: 648px;

$left: 100px;