/* 


All things Typography 
	
	- Font-sizes and weights
	- Page Titles, body text, quotes



-- */


.page-title {
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	font-family: $clear;
	color: $text;
	line-height: 1.1;
	margin-bottom: 40px !important;
}
.heading-two {
	font-size: 30px;
	font-family: $minion;
	font-weight: 700;
	color: $text;
	margin-bottom: 26px;
}
.heading-three {
	font-size: 16px;
	font-family: $minion;
	color: $text;
	font-weight: 700;
	margin-bottom: 10px;
}
p {
	font-family: $minion;
	color: $text;
	font-size: $font-size;
	line-height: $line-height;

	margin-bottom: 24px !important;
}
strong {
	font-weight: 700;
}
blockquote {
	border-left: 2px solid $me;
	margin: auto 40px !important;
	padding: 0px 20px 0px;
	quotes: "\201C""\201D""\2018""\2019";
	font-size: $font-size;
	line-height: $line-height;
	font-family: $minion;
	color: lighten($text,15%);
	font-style: normal;
	line-height: 1.4 !important;

	margin: 30px auto !important;

	p {
		font-size: 13px;
		padding-top: 10px;
		font-family: $clear;
		text-transform: uppercase;
		color: lighten($text, 20%);
	}
}





/* Specific Items */
.caption {
	font-family: $clear;
	font-style: normal;
	font-size: 14px;
}

sup, sub {
	vertical-align: baseline;
	top: -0.4em;
}
.footnote, .footnote:visited {
	font-size: 14px;
	font-weight: 700;
	padding: .15em;
	color: $me;
	text-decoration: none;
	vertical-align: top;

	&:hover {
		text-decoration: underline;
	}
}
.tip {
	font-family: $clear;
	font-size: 14px;
	color: lighten($text,20%);
	font-weight: 400;
}




/*Links*/
a {
	color: inherit;
	text-decoration: underline;
	transition: .1s;

	cursor: pointer;

	&:hover {
    	color: $me !important;
  	}
  	&:visited {
  		color: inherit;
  	}
  	&:active {
  		color: inherit;
  	}
}




/*Mobile*/
@media screen and (max-width: $type-break) {
	.page-title {
		font-size: 34px;
		margin-bottom: 30px !important;
	}
	p{
      font-size: 16px;
      margin-bottom: 18px !important;
    }
    .heading-two {
    	font-size: 20px;
    	margin-bottom: 16px;
    }
    .heading-three {
    	font-size: 15px;
    }
    blockquote {
    	border-left: 2px solid $me;
		margin:  20px -24px !important;
		padding: 0px 24px 0px;
		font-size: 16px;
		line-height: 1.4;
    }
}