$minion: "freight-sans-pro", 'FreightSans Pro', "HelveticaNeue-Light", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;

$clear: "adelle-sans", 'adelle sans', sans-serif;

$text: #4C5557;

$me: #64938b;

$select: #e4e5ec;

$font-size: 22px;
$line-height: 1.6;

$break: 600px;
$type-break: 500px;

$full-width: 900px;

$width: 808px;

$break-width: 648px;
